body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
}
.quote {
  background-color:hsl(86, 65%, 69%);
  border-radius: 10px;
  box-shadow: black 10px 10px;
  padding: 10px;
  text-align: center;
  width: fit-content;
  height: fit-content;
}
.App {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.manDotNet {
  border-radius: 50%;
  height: 300px;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body {
  background-color: hsl(209, 60%, 63%);
}

@media (max-width: 890px) {
  .App {
    flex-direction: column;
  }
}