body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
}
.quote {
  background-color:hsl(86, 65%, 69%);
  border-radius: 10px;
  box-shadow: black 10px 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
  text-align: center;
  top: 45vh;
  width: fit-content;
}